@import './reset.css';

body {
  font-family: Arial, Helvetica, sans-serif;
	margin: 1rem;
	line-height: 1.1;
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}

code {
	font-family: monospace;
	background: rgba(0, 0, 0, .08);
	padding: 1px 5px 1px 5px;
	border-radius: 2px;
}

.callout {
	margin: 30px 10px;
	border: 1px solid olivedrab;
	padding: 15px 15px 15px 40px;
	border-radius: 10px;
	position: relative;
	background: mintcream
}

.callout::before {
	content: "💡";
	position: absolute;
	top: 15px;
	left: 15px;
}
